<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,600,700&display=swap" rel="stylesheet">
    <title>PANEL DE ADMINISTRADOR</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            font-family: "Dosis", sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        h1{
            text-align: center;
            color: white;
            padding: .5em 0 .5em 0;
            width: 100%;
            background: grey;
            margin-bottom: 1em;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
            text-transform: uppercase;
        }
        th {
            background-color: #f2f2f2;
            
        }
    </style>
</head>
<body>
    <h1>LISTA DE JUGADORES</h1>
    <table>
        <thead>
            <tr>
                <th>CATEGORIA</th>
                <th>NOMBRE JUGADOR 1</th>
                <th>APELLIDOS JUGADOR 1</th>
                <th>TELEFÓNO JUGADOR 1</th>
                <th>Nickname Usuario Dos</th>
                <th>NOMBRE JUGADOR 2</th>
                <th>APELLIDOS JUGADOR 2</th>
                <th>TELEFÓNO JUGADOR 2</th>
            </tr>
        </thead>
        <tbody>
            <% result.forEach(row => { %>
                <tr>
                    <td><%= row.CATEGORIA %></td>
                    <td><%= row.Nombre_Jugador_Uno %></td>
                    <td><%= row.Apellidos_Jugador_Uno %></td>
                    <td><%= row.Telefono_Jugador_Uno %></td>
                    <td><%= row.Nickname_Usuario_Dos %></td>
                    <td><%= row.Nombre_Usuario_Dos %></td>
                    <td><%= row.Apellidos_Usuario_Dos %></td>
                    <td><%= row.Telefono_Usuario_Dos %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
