<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,600,700&display=swap" rel="stylesheet">
  <link href="principal.css" rel="stylesheet">
  <link href="responsive.css" rel="stylesheet">
  <title>PÁGINA PRINCIPAL</title>
</head>
<body>
  <header class="header">
    <nav>
      <div class="logo">
        <a href="/principal"><span class="span1">BOOKPADEL TECH</span></a>
      </div>
      <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle" class="menu-icon">&#9776;</label>
      <ul class="menu">
        <% if( user && user.RANGO == "administrador") {%>
              <li><a href="/eventos">AGREGAR EVENTO</a></li>
        <% } %>
        <li onclick="getpopup(1)"><a href="#">¿COMO ME INSCRIBO A UN TORNEO?</a></li>
        <% if(user){ %>
          <li><a onclick="getpopup(2)">MIS INSCRIPCIONES</a></li>
        <% } %>
        <% if ( !user ) {%>
          <li><a href="/login">INICIAR SESIÓN</a></li>
        <% } else { %>
          <li id="username"><%= user.NOMBRE.toUpperCase() + " " + user.APELLIDOS.toUpperCase() %></li>
          <a href="/logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
          </a>
        <% } %>
      </ul>
    </nav>
  </header>
  
  <div class="container">
    <% for (let i = 0; i < eventos.length; i++){ %>
      <div class="card">
        <div class="fecha_precio">
          <h1><%= eventos[i].FECHA.split("---")[0] %> <br> <%= eventos[i].FECHA.split("---")[1] %> - <%= eventos[i].FECHA.split("---")[2] %></h1>
          <h1 class="precio">DESDE <%= eventos[i].PRECIO + " € / JUGADOR" %> <br> <%= eventos[i].DIRECCION %></h1>
        </div>
        <h3><%= eventos[i].NOMBRE %></h3>
        <div class="tel_cartel">
          <a href=" <%=eventos[i].PORTADA.split('/').slice(1).join('/') %> " target="_blank">VER CARTEL</a>
        </div>
        <button onclick="location.href='/inscribirse/?id=<%=eventos[i].ID%>' "style="--clr:white"><span>INSCRIBIRSE</span><i></i></button>
        <% if( user && user.RANGO == "administrador"){ %>
          <button style="margin-top: 1em;" onclick="location.href='/admin/?id_evento=<%=eventos[i].ID%>' "style="--clr:white"><span>INSCRITOS ...</span><i></i></button>
        <% } %>
      </div>
    <% } %> 
  </div>

  <section id="popup">
    <i onclick="close_popup(1)" class="fa-solid fa-x"></i>
    <h3>PRIMER PASO:</h3>
    <h2>Observe y analice todos los torneos que se promocionan en la web. Puede ver el cartel del torneo su pulsa en "VER CARTEL.</h2>
    <h3>SEGUNDO PASO:</h3>
    <h2>Si ha encontrado un torneo que le encaja tanto de horario como de precio, pulse en "INSCRIBIRSE". Si no tiene cuenta, creese una. Si ya la tiene, inicie sesión y se le redirigira automaticamente a la página de inscripcion.</h2>
    <h3>TERCER PASO:</h3>
    <h2>Ya en la página de inscripción, puede elegir si va a jugar solo o con pareja. Si ha elegido solo, se podra inscribir y al organizador le llegara la petición de que le busque pareja.</h2>
    <h3>CUARTO PASO:</h3>
    <h2>Si ya tiene pareja, ponga su nickname en la seccion de nickname y podrá elegir a su pareja. <span> ¡ATENCIÓN! Su pareja debe estar registrada en la página web para poderse inscribirse, por lo tanto, si no lo esta, pidale que se registre antes de proceder a la inscripción.</span></h2>
    <h3>QUINTO PASO:</h3>
    <h2>Cuando ya lo tenga todo, puede proceder a pulsar el boton de "INSCRIBIRSE", se le redirigira automaticamnte a la pasarela de pago.</h2>
    <h3>SEXTO PASO:</h3>
    <h2>Despues de haber pagado, se le redirigira a la pagina principal. arriba a la derecha tiene una apartado dodne pone "MIS INSCRPCIONES", ahi podrá ver a que torneos esta inscrito.</h2>
  </section>

  <section id="popup_myinscriptions">
    <h1 id="titulo">TORNEOS A LOS QUE SE HA INSCRITO :</h1>
    <i id="exit" onclick="close_popup(2)" class="fa-solid fa-x"></i>
    <% if(my_inscriptions){ %>
      <% for (let i = 0;i<my_inscriptions.length;i++){ %>
        <div class="inscription">
          <h3><%= my_inscriptions[i].NOMBRE %></h3>
          <% if (my_inscriptions[i].NOMBRE_USUARIO_DOS){ %>
            <h3 class="team"><%= my_inscriptions[i].NOMBRE_JUGADOR_UNO  %> <%= my_inscriptions[i].APELLIDOS_JUGADOR_UNO %> & <%= my_inscriptions[i].NOMBRE_USUARIO_DOS %> <%= my_inscriptions[i].APELLIDOS_USUARIO_DOS %></h3>
            <% }else{ %>
              <h3 class="team"><%= my_inscriptions[i].NOMBRE_JUGADOR_UNO  %> <%= my_inscriptions[i].APELLIDOS_JUGADOR_UNO %> & <%= my_inscriptions[i].NICKNAME_USUARIO_DOS %></h3>
            <% } %>
          <section class="info_pack">
            <section>
              <strong>CATEGORÍA SELECCIONADA: </strong>
              <p class="info"><%= my_inscriptions[i].CATEGORIA %></p>
            </section>
            <section>
              <strong>TELÉFONO DEL ORGANIZADOR: </strong>
              <p class="info"><%= my_inscriptions[i].TELEFONO_JUGADOR_UNO %></p>
            </section>
            <section>
              <strong>DÓNDE SE JUEGA: </strong>
              <p class="info"><%= my_inscriptions[i].DIRECCION %></p>
            </section>
            <section>
              <strong>FECHA Y HORA DE JUEGO: </strong>
              <p class="info"> <%= my_inscriptions[i].FECHA %></p>
            </section>
          </section>
          <a href="/delete_inscription/?id=<%=my_inscriptions[i].ID%>" class="bt">BORRAR INSCRIPCIÓN <i class="fa-solid fa-trash"></i></a>
        </div>
      <% } %>
    <% } %>

    <% if(my_guest_inscriptions){ %>
      <% for (let i = 0;i<my_guest_inscriptions.length;i++){ %>
        <div class="inscription">
          <h3><%= my_guest_inscriptions[i].NOMBRE %></h3>
          <h3 class="team"><%= my_guest_inscriptions[i].NOMBRE_JUGADOR_UNO  %> <%= my_guest_inscriptions[i].APELLIDOS_JUGADOR_UNO %> & <%= my_guest_inscriptions[i].NICKNAME_USUARIO_DOS %></h3>
          <section class="info_pack">
            <section>
              <strong>CATEGORÍA SELECCIONADA: </strong>
              <p class="info"><%= my_guest_inscriptions[i].CATEGORIA %></p>
            </section>
            <section>
              <strong>TELÉFONO DEL ORGANIZADOR: </strong>
              <p class="info"><%= my_guest_inscriptions[i].TELEFONO_JUGADOR_UNO %></p>
            </section>
            <section>
              <strong>DÓNDE SE JUEGA: </strong>
              <p class="info"><%= my_guest_inscriptions[i].DIRECCION %></p>
            </section>
            <section>
              <strong>FECHA Y HORA DE JUEGO: </strong>
              <p class="info"> <%= my_guest_inscriptions[i].FECHA %></p>
            </section>
          </section>
          <a href="/delete_inscription/?id=<%=my_guest_inscriptions[i].ID%>" class="bt">BORRAR INSCRIPCIÓN <i class="fa-solid fa-trash"></i></a>
        </div>
      <% } %>
    <% } %>
  </section>
  <footer>
    <div class="eleccion">
      <div class="eleccion1">
        <h4><a href="/login?user=p">¿QUIERES COMPETIR? CLICK AQUÍ ...</a></h4>
      </div>
      <div class="eleccion2">
        <h4><a href="/login?user=o">¿ERES ORGANIZADOR? SUBE TU EVENTO AQUÍ ...</a></h4>
      </div>
    </div>
    <div class="footer_container">
      <p>&copy;2024 DERECHOS RESERVADOS -- BOOKPADEL TECH</p>
    </div>
  </footer>
</body>
<script src="scripts/popup_como.js"></script>
</html>