<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,600,700&display=swap" rel="stylesheet">
  <link href="principal.css" rel="stylesheet">
  <link href="responsive.css" rel="stylesheet">
  <title>PÁGINA PRINCIPAL</title>
</head>
<body>
  <header class="header">
    <nav>
      <div class="logo">
        <a href="/principal"><span class="span1">GLOBAL.</span>SMASH.<span class="span2">PÁDEL</span></a>
      </div>
      <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle" class="menu-icon">&#9776;</label>
      <ul class="menu">
        <li><a href="#">PÁGINA PRINCIPAL</a></li>
        <% if( user && user.RANGO == "administrador") {%>
              <li><a href="/eventos">AGREGAR EVENTO</a></li>
        <% } %>
        <li><a href="#">¿COMO ME INSCRIBO A UN TORNEO?</a></li>
        <li><a href="#">MIS INSCRIPCIONES</a></li>
        <% if ( !user ) {%>
          <li><a href="/login">INICIAR SESIÓN</a></li>
        <% } else { %>
          <li id="username"><%= user.NOMBRE.toUpperCase() + " " + user.APELLIDOS.toUpperCase() %></li>
          <a href="/logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
          </a>
        <% } %>
      </ul>
    </nav>
  </header>
  
  <div class="container">
    <% for (let i = 0; i < eventos.length; i++){ %>
      <div class="card">
        <img src="https://www.2playbook.com/uploads/s1/28/48/33/credit-premier-padel-29.jpeg"/>
        <div class="fecha_precio">
          <h1><%= eventos[i].FECHA.split("---")[0] %> <br> <%= eventos[i].FECHA.split("---")[1] %> - <%= eventos[i].FECHA.split("---")[2] %></h1>
          <h1 class="precio"><%= eventos[i].PRECIO + " €" %> <br> <%= eventos[i].DIRECCION %></h1>
        </div>
        <h3><%= eventos[i].NOMBRE %></h3>
        <div class="card_categorias">
          <p>1ª CATEGORIA -- HASTA <%= eventos[i].CATEGORIA_1 %></p>
          <% if (eventos[i].CATEGORIA_2 > 0) { %>
            <p>2ª CATEGORIA -- HASTA <%= eventos[i].CATEGORIA_2 %></p>
          <% } %>
          <% if (eventos[i].CATEGORIA_3 > 0) { %>
            <p>3ª CATEGORIA -- HASTA <%= eventos[i].CATEGORIA_3 %></p>
          <% } %>
          <% if (eventos[i].CATEGORIA_4 > 0) { %>
            <p>4ª CATEGORIA -- HASTA <%= eventos[i].CATEGORIA_4 %></p>
          <% } %>
          <% if (eventos[i].CATEGORIA_5 > 0) { %>
            <p>5ª CATEGORIA -- HASTA <%= eventos[i].CATEGORIA_5 %></p>
          <% } %>
          <% if (eventos[i].CATEGORIA_6 > 0) { %>
            <p>6ª CATEGORIA -- HASTA <%= eventos[i].CATEGORIA_6 %></p>
          <% } %>
          <% if (eventos[i].CATEGORIA_7 > 0) { %>
            <p>7ª CATEGORIA -- HASTA <%= eventos[i].CATEGORIA_7 %></p>
          <% } %>
          <% if (eventos[i].CATEGORIA_FEMENINA > 0) { %>
            <p>CATEGORIA FEMENINA -- HASTA <%= eventos[i].CATEGORIA_FEMENINA %></p>
          <% } %>
        </div>
        <div class="tel_cartel">
          <p><%="ORGANIZADOR - " + eventos[i].TELEFONO_ORGANIZADOR %></p>
          <a href="https://edit.org/img/blog/jp6-flyer-torneo-padel-editable-gratis.webp" target="_blank" >VER CARTEL</a>
        </div>
        <button onclick="location.href='/inscribirse/?id=<%=eventos[i].ID%>' "style="--clr:#39FF14"><span>INSCRIBIRSE</span><i></i></button>
      </div>
    <% } %>
  </div>


  <footer>
    <div class="eleccion">
      <div class="eleccion1">
        <h4><a href="/login">¿ERES UN PLAYER CON GANAS DE COMPETIR? PINCHAME ...</a></h4>
      </div>
      <div class="eleccion2">
        <h4><a href="/login">¿ERES UN ORGANIZADOR DE LOS MEJORES TORNEOS? PINCHAME ...</a></h4>
      </div>
    </div>
    <div class="footer_container">
      <p>&copy;2024 DERECHOS RESERVADOS -- GLOBAL.SMASH.PÁDEL</p>
    </div>
  </footer>
</body>
</html>