<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,600,700&display=swap" rel="stylesheet">
  <link href="principal.css" rel="stylesheet">
  <link href="responsive.css" rel="stylesheet">
  <title>PÁGINA PRINCIPAL</title>
</head>
<body>
  <header class="header">
    <nav>
      <div class="logo">
        <a href="/principal">BOOKPADEL<span>TECH</span></a>
      </div>
      <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle" class="menu-icon">&#9776;</label>
      <ul class="menu">
        <li><a href="#">PÁGINA PRINCIPAL</a></li>
        <% if( user && user.RANGO == "administrador") {%>
              <li><a href="/eventos">AGREGAR EVENTO</a></li>
        <% } %>
        <li><a href="#">MIS INSCRIPCIONES</a></li>
        <% if ( !user ) {%>
          <li><a href="/login">INICIAR SESIÓN</a></li>
        <% } else { %>
          <li id="username"><%= user.NOMBRE.toUpperCase() + " " + user.APELLIDOS.toUpperCase() %></li>
          <a href="/logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
          </a>
        <% } %>
      </ul>
    </nav>
  </header>
  
  <div class="container">
    <% for (let i = 0; i < eventos.length; i++){ %>
      <div class="card">
        <img src="https://www.2playbook.com/uploads/s1/28/48/33/credit-premier-padel-29.jpeg"/>
        <div class="fecha_precio">
          <h1><%= eventos[i].FECHA %> <br> <%= eventos[i].FECHA %></h1>
          <h1 class="precio"><%= eventos[i].PRECIO + " €" %> <br> <%= eventos[i].DIRECCION %></h1>
        </div>
        <h3><%= eventos[i].NOMBRE %></h3>
        <div class="card_categorias">
          <p>1ª CATEGORIA -- HASTA 4,50</p>
          <p>2ª CATEGORIA -- HASTA 4,00</p>
          <p>3ª CATEGORIA -- HASTA 3,50</p>
          <p>4ª CATEGORIA -- HASTA 3,00</p>
        </div>
        <div class="tel_cartel">
          <p><%="ORGANIZADOR - " + eventos[i].TELEFONO_ORGANIZADOR %></p>
          <p>VER CARTEL</p>
        </div>
        <button onclick="location.href='/inscribirse/?id=<%=eventos[i].ID%>' "style="--clr:#39FF14"><span>INSCRIBIRSE</span><i></i></button>
      </div>
    <% } %>
  </div>

  <footer>
    <div class="footer_container">
      <p>
        &copy;
        2024 TODOS LOS DERECHOS RESERVADOS -- BOOKPADEL TECH
      </p>
    </div>
  </footer>
</body>
</html>